* {
  font-family: 'Lato', sans-serif;
}

html {
  font-family: sans-serif;
}

body {
  background: #f9f9f9;
  margin: 0;
}

.layout-wrapper {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.06);
  border-top: 2px solid rgb(57, 191, 221);
  background: rgba(255, 255, 255, 255);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: auto;
  width: 90%;
  height: 100%;
  margin-top: 5rem;
}
